display
position

top
right
bottom
left
transform

// document flow disruptors
float
clear
flex-*
(align-*, justify-*, order)

opacity
visibility
z-index

// dimensions
width
min-width
max-width
height
min-height
max-height

// box model
margin
outline
border
padding

// document flow adjustments
overflow
box-sizing
vertical-align

// visual appearance
color
background
border-*
border-radius
box-shadow

// element- and type-specific styles should be separated
list-style
caption-side

table-layout
border-collapse
border-spacing
empty-cells

// typography
text-align
text-transform
text-decoration
text-shadow

font-family
font-size
font-weight

// animations
animation
transition

// pseudo-elements come last, & start with the
// `content` property before repeating order above
:before
:after
  content


