display
position
top
right
bottom
left

float
clear
flex-*
(align-*, justify-*, order)

z-index
opacity
visibility

width
max-width
height
max-height

margin
border
padding

overflow
box-sizing
vertical-align

outline
background
box-shadow

// element- and type-specific styles should be separated
list-style
caption-side

table-layout
border-collapse
border-spacing
empty-cells

text-align
text-transform
text-decoration
text-shadow

font-family
font-size
font-weight

color

// pseudo-elements come last, & start with the
// content property before repeating order above
:before
:after
  content


